body{
    height: 450px;
    width: 280px;
    overflow:auto;
}

div.folder{
    padding-right:3cm;
    padding-top:0cm;
    padding-left:0cm;
    padding-bottom:3cm;
    background-image: url("folder2.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.folder:hover{
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    transition-duration: 500ms;
}
.selections{
    display:flex;
    justify-content: space-around;
}
.text{
    text-align:center;
    font-weight:bold;
    font-size:large;
}
.homepage{
    text-align:center;
    font-size:x-large;
    font-weight:bold;

}
.continue{
    font-weight:100;
    font-size:small;
    padding-top: 3cm;
    padding-bottom: 3cm;
}
.header{
    display:flex;
    justify-content:space-between;
    flex-direction: row;
}

/* styling for top of popup (img and settings btn) */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* styles the settings button */
#settings {
    opacity: 0.5;
}

/* styles the settings button on hover */
#settings:hover {
   opacity: 1;
   
    
} 

/* styles the settings button when active */
#settings:active {
    
    transition-duration: 0s;
    transform: translateY(2px);
    
}


