body{
    height: 450px;
    width: 280px;
    overflow:scroll;
    background:linear-gradient(white, rgb(253, 206, 148));
}
div.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    position: sticky;
    padding-top: 3%;
    padding-bottom: 3%;
}

#back{
    color:black;
    background:linear-gradient(-20deg, bisque 0%,rgb(249, 188, 113) 100%);
    border-color:transparent;
    font-size:large;
    position:sticky;
}
#back:hover{
    transform: translateX(-3px);
    transition-duration: 1s;
}
#back:active{
    background:transparent;
    border-color:transparent;
    transform: translateX(-4px);
    transition-duration: 0.7s;
    color:blue;
}
#openall, #openselect{
    background-color:rgb(249, 188, 113);
    border-color:transparent;
    font-weight: bold;
}
#openall:hover, #openselect:hover{
    transform: translateY(-4px);
    transition-duration: 1.3s;
}
#openall:active, #openselect:active{
    background:transparent;
    border-color:transparent;
    transform: translateY(3px);
    transition-duration: 0.4s;
    color:blue;
}
label:hover{
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    transition-duration: 600ms;
}
input{
    vertical-align: middle;
    position: relative;
}

input.check:checked + label{
    background: #fffc47;
}
label{
    font-size:larger;
}

div.data{
    display:flex;
    flex-direction: column;
}

div.delete{
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
}
div.delete:hover{
    color:red;
    cursor:pointer;
}
.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#clear{
    color:red;
    background:linear-gradient(-20deg, bisque 0%,rgb(249, 188, 113) 100%);
    border-color:transparent;
    font-size:large;
}
#clear:hover{
    font-size:medium;
    transition-duration: 0.7s;
}
#clear:active{
    background:transparent;
    border-color:transparent;
    transition-duration: 0.7s;
    color:red;
}
